.entryField{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &__description{
        width: 100%;
        
        margin-bottom: 12px;

        display: flex;
        justify-content: space-between;

    }

    &__label{
        font-weight: 700;
        color: $darkGrayishCyan;
    }

    &__errorMsg{
        color: $red;
    }

    &__selectBtn{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap:0.5em
    }
}