$strongCyan: hsl(172, 67%, 45%);
$veryDdarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$darkGrayishCyanLight: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$lightGrayishCyanLight: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$red : #B77E73;
$bgHover : #9FE7DF;
$darkDisable : #0D686D;  

//Fonts Size
$font-size-normal : 16px;
$font-size-input : 24px;
$font-size-mini : 13px;
$font-size-big : 46px;

//breakpoint
$breakpoints : (
    mobile: 920px
);
